<div data-ng-controller="ExtrasController">

    <div class="flex-container-space-between header-container">

        <div class="small-logo-container flex-container">
            <div class="left-small-logo"></div>
            <div class="left-small-name">
                Weezzler
            </div>
        </div>
    </div>

    <div class="horizontal-top-banner-ad-container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- help-page-top-ad -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-6892550707080459"
             data-ad-slot="9449166533"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="flex-container-space-between selection-header-container">

        <div class="selected-title">
            <span data-ng-show="spanish">Ayuda</span>
            <span data-ng-show="!spanish">Help</span>
        </div>

    </div>

    <div class="main-separator"></div>

    <div class="displayFlex">

        <div class="help-container">

            <div class="help-question">
                <span data-ng-show="spanish">Qué es Weezzler?</span>
                <span data-ng-show="!spanish">What's Weezzler?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">Weezzler es una solución práctica para escuchar la música y ver los videos de tu teléfono en altavoces sin la necesidad de cables o hardware adicional.</span>
                <span data-ng-show="!spanish">Weezzler is an easy solution to play your phone's music and videos on speakers wirelessly without the need of extra hardware.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Cuáles son los beneficios de usar Weezzler?</span>
                <span data-ng-show="!spanish">What are the benefits of using Weezzler?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">-Escuchá la música de tu teléfono en altavoces.</span>
                <span data-ng-show="!spanish">-Listen to your phone's music on speakers.</span><br>

                <span data-ng-show="spanish">-Mirá los videos de tu teléfono en una pantalla más grande.</span>
                <span data-ng-show="!spanish">-Watch your phone’s videos on a bigger screen.</span><br>

                <span data-ng-show="spanish">-Llevá tu música y videos a cualquier lado.</span>
                <span data-ng-show="!spanish">-Take your music and videos anywhere.</span><br>

                <span data-ng-show="spanish">-Facil de usar.</span>
                <span data-ng-show="!spanish">-Easy to use.</span><br>

                <span data-ng-show="spanish">-Olvidate de los cables.</span>
                <span data-ng-show="!spanish">-Get rid of cords.</span><br>

                <span data-ng-show="spanish">-No necesitás hardware adicional.</span>
                <span data-ng-show="!spanish">-No need of extra hardware.</span><br>

                <span data-ng-show="spanish">-No necesitás tener un usuario.</span>
                <span data-ng-show="!spanish">-No need to have a user.</span><br>

                <span data-ng-show="spanish">-Usá tu teléfono como control remoto.</span>
                <span data-ng-show="!spanish">-Use the phone as a remote control.</span><br>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Cómo se usa?</span>
                <span data-ng-show="!spanish">How do I use it?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">Lo primero que tenés que hacer es asegurarte de que tu teléfono y tu computadora estén ambos conectados a la misma red wifi.</span>
                <span data-ng-show="!spanish">The first thing you have to do is to check that your phone and your computer are both connected to the same wifi network.</span>

                <div class="paragraph">
                    <span data-ng-show="spanish">Una vez hecho esto, abrí la aplicación en tu teléfono y vas a obtener un código para conectarte.</span>
                    <span data-ng-show="!spanish">Once you did this, open the app in your phone and you'll get a connection code.</span>
                </div>

                <span data-ng-show="spanish">En <span class="fake-link">www.weezzler.com</span> ingresá el código y hacé click en el botón "Enviar código". Después de unos segundos vas a ver tu biblioteca de música en el navegador. Podés elegir controlar tu música y videos desde ahí o usar tu teléfono como control remoto.</span>
                <span data-ng-show="!spanish">On <span class="fake-link">www.weezzler.com</span> enter the code and click the "Send code" button. After a few seconds you will see your music library in the browser. You can choose to navigate through your music and videos from there or use your phone as a remote control.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Qué versiones de Android son soportadas?</span>
                <span data-ng-show="!spanish">What Android versions are supported?</span>
            </div>

            <div class="help-answer">
                4.0 - Ice Cream Sandwich<br>
                4.1 - Jelly Bean<br>
                4.4 - KitKat<br>
                5.0 - Lollipop<br>
                6.0 - Marshmallow
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Qué navegadores son soportados?</span>
                <span data-ng-show="!spanish">What browsers are supported?</span>
            </div>

            <div class="help-answer">
                Chrome 49+<br>
                Firefox 47+<br>
                Safari 9.1+<br>
                Opera 39+<br>
                IE 11<br>
                Edge 13+
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Qué tipos de archivos son soportados?</span>
                <span data-ng-show="!spanish">What format files are supported?</span>
            </div>

            <div class="help-answer">
                Audio: MP3.<br>
                Video: MP4.
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Necesito crear un usuario?</span>
                <span data-ng-show="!spanish">Do I need to create a user?</span>
            </div>

            <div class="help-answer">
                No.
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Se perdió la conexión en el navegador pero la aplicación sigue abierta en el teléfono, que tengo que hacer?</span>
                <span data-ng-show="!spanish">The connection was lost from the browser but the application is still open in my phone, what do I do?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">Si ves el mensaje "Desconectado" en el navegador y la aplicación está abierta en tu teléfono, sólo tenés que hacer click en el botón "Reconectar" y (si ambos dispositivos siguen conectados a la misma red wifi) la conexión se volverá a establecer, no necesitás ingresar el código nuevamente. Esto puede suceder si el teléfono se mueve muy lejos del router o si la red a la que estás conectado tiene una señal débil.</span>
                <span data-ng-show="!spanish">If you see the "Disconnected" sign in your browser and the app is still running in your phone, you can just click the "Reconnect" button and (if both devices are still connected to the same wifi connection) the connection will be restored, you don't need to enter the code again. This might happen when you move the phone too far from the router or the network you were connected has a weak signal.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Sin querer actualicé la ventana del navegador, necesito ingresar un nuevo código para conectarme nuevamente?</span>
                <span data-ng-show="!spanish">I accidentally refreshed the browser window, do I have to enter a new code to reconnect?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">No. Si actualizaste la ventana del navegador o cerraste la pestaña en la que Weezzler se estaba ejecutando, pero nunca cerraste el navegador y la aplicación sigue abierta en tu teléfono, no necesitas ingresar un código nuevo. Vas a ver un nuevo botón en la página de inicio con la leyenda "Conectar usando el último código", hacé click y la conexión se volverá a establecer.</span>
                <span data-ng-show="!spanish">No. If you refreshed the window or closed the tab where Weezzler was running, but you never closed the browser and the app is still running in your phone, you don't need to enter a new code. You will see a new button in the home page saying "Connect using last code", click on that and the connection will be established again.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">La conexión tarda mucho, hay alguna manera de hacerlo más rápido?</span>
                <span data-ng-show="!spanish">The connection is taking too long, is there a way to do it faster?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">El tiempo que tarda la sincronización inicial entre tu teléfono y el navegador depende de varios factores como la cantidad de información en tu télefono o las caracteísticas de tu conexión wifi, por lo que ese tiempo puede variar dependiendo del lugar o dispositivo que uses.</span>
                <span data-ng-show="!spanish">The inital sync time between your phone and the browser is affected by many factors as the amount of data in your phone or your wifi connection configuration, so that time is variable depending on the place or device you use.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">La música se detiene cuando la pantalla de mi teléfono se apaga, hay alguna forma de evitarlo?</span>
                <span data-ng-show="!spanish">The music stops playing when my phone screen goes off, is there any way to avoid this?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">Algunos dispositivos tienen la opción SLEEP que detiene algunas aplicaciónes para ahorrar batería cuando la pantalla está apagada. Probá desactivando esta opción para resolver este problema.</span>
                <span data-ng-show="!spanish">Some devices have the SLEEP option that stops some apps to save battery when the screen goes off. Try disabling this opcion to solve this issue.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Interfiere el audio de mis llamadas u otras aplicaciones con la música o videos que se reproduce en el navegador?</span>
                <span data-ng-show="!spanish">Does the audio from my calls or other applications interfere with the music or videos playing in the browser?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">No. Podés seguir usando tu teléfono tranquilamente para llamadas y cualquier otra aplicación mientras usas Weezzler.</span>
                <span data-ng-show="!spanish">No. You can keep using your phone for calls and any other application without problems while using Weezzler.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish">Puedo reproducir música descargada de algún servicio de streaming como Spotify, Google Music o Deezer?</span>
                <span data-ng-show="!spanish">Can I play music downloaded from streaming services like Spotify, Google Music or Deezer?</span>
            </div>

            <div class="help-answer">
                <span data-ng-show="spanish">Lamentablemente, si pagaste para descargar archivos de música desde un servicio de streaming como los mencionados antes, no vas a podér reproducirlos con Weezzler. Estos archivos tienen restricciones de seguridad que hacen que no puedan ser reproducidos fuera de la aplicación original con la cual fueron descargados.</span>
                <span data-ng-show="!spanish">Unfortunately, if you payed to download music files for offline play from a streaming service like the ones mentioned above, you cannot play those files with Weezzler. These files have security restrictions that don't allow them to be played outside their original application.</span>
            </div>
        </div>
    </div>

    <div class="flex-container-space-between footer-elements-container">

        <div class="flex-container">

            <div class="addthis_inline_follow_toolbox follow-buttons-container"></div>

            <div class="info-links-container">

                <a class="animated-link info-link" href="/about">
                    <span data-ng-show="spanish" class="white-background">Acerca de</span>
                    <span data-ng-show="!spanish" class="white-background">About</span>
                    <span class="underline"></span>
                </a>
                <a class="animated-link info-link" href="/help">
                    <span data-ng-show="spanish" class="white-background">Ayuda</span>
                    <span data-ng-show="!spanish" class="white-background">Help</span>
                    <span class="underline"></span>
                </a>
                <a class="animated-link info-link" href="/privacy">
                    <span data-ng-show="spanish" class="white-background">Privacidad</span>
                    <span data-ng-show="!spanish" class="white-background">Privacy</span>
                    <span class="underline"></span>
                </a>

            </div>
        </div>

        <div class="flex-container">
            <div class="flag britishFlag" data-ng-class="{ spanishFlag: spanish }" data-ng-click="changeLanguage()"></div>
            <a class="animated-link language-change" href="" data-ng-click="changeLanguage()">
                <span data-ng-show="spanish">Cambiar Idioma</span>
                <span data-ng-show="!spanish">Change Language</span>
                <span class="underline"></span>
            </a>
        </div>

    </div>

</div>