<div id="homeContainer" data-ng-controller="ExtrasController">
    <div id="descriptionContainer">
        <div class="leftContainer">

            <img src="/images/web-main-logo.png" height="160" alt="Weezzler" />
            <div class="homeAppName" style="font-size: 40px;">This website is temporarily unavailable</div>

            <div class="homeAppDescription">
                <span>Sorry for the inconvenience, please try again later.</span>
            </div>

        </div>

    </div>

</div>

<script src="/utils/animations.js"></script>