<div id="homeContainer" data-ng-controller="ExtrasController">
    <div id="homeNav">
        <div class="home-logo-container flex-container">
            <div class="left-small-logo"></div>
            <div class="left-small-name left-logo">
                Weezzler
            </div>
        </div>
        <div class="menuOptionsContainer">
            <ul class="nav">
                <li>
                    <a class="page-scroll" href="#descriptionContainer">
                        <span data-ng-show="spanish">Conectar</span>
                        <span data-ng-show="!spanish">Connect</span></span>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">
                        <span data-ng-show="spanish">Acerca de</span>
                        <span data-ng-show="!spanish">About</span></span>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">
                        <span data-ng-show="spanish">Características</span>
                        <span data-ng-show="!spanish">Features</span></span>
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#video">
                        <span>Video</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="descriptionContainer">
        <div class="leftContainer">

            <img src="/images/web-main-logo.png" height="160" alt="Weezzler" />
            <div class="homeAppName">WEEZZLER</div>

            <div class="homeAppDescription">
                <span data-ng-show="spanish">Reproductor inalámbrico de música y videos</span>
                <span data-ng-show="!spanish">Wireless music and video player</span>
            </div>

            <div class="googlePlayContainer">
                <a data-ng-show="spanish" target="_blank" href='http://play.google.com/store/apps/details?id=com.weezzler.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img class="play-store-img" alt='Disponible en Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/es-419_badge_web_generic.png'/>
                </a>

                <a data-ng-show="!spanish" target="_blank" href='http://play.google.com/store/apps/details?id=com.weezzler.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img class="play-store-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                </a>
            </div>

        </div>

        <div class="connectContainer">

            <div class="speaker">
                <div class="speaker-first">
                    <div>
                    </div>
                </div>
                <div class="speaker-second">
                    <div class="speaker-second-inner">
                        <div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="laptopContainer">

                <div class="laptop">
                    <div class="laptop-screen">
                        <div>
                        </div>
                    </div>
                    <div class="laptop-keyboard">
                    </div>
                </div>

                <div class="mobile-phone">

                    <div class="mobile-phone-speaker">
                    </div>

                    <div class="mobile-phone-screen">
                        <a class="main-button homeConnectButton" href="/connect" target="_blank">
                            <span data-ng-show="spanish">CONECTATE AHORA</span>
                            <span data-ng-show="!spanish">CONNECT NOW</span>
                        </a>
                    </div>

                    <div class="mobile-phone-button">
                    </div>
                </div>
            </div>

            <div class="speaker">
                <div class="speaker-first">
                    <div>
                    </div>
                </div>
                <div class="speaker-second">
                    <div class="speaker-second-inner">
                        <div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="about" class="green-section">
        <div class="homeAboutTitleContainer">
            <div class="homeAboutTitle">
                <span data-ng-show="spanish">Qué es Weezzler?</span>
                <span data-ng-show="!spanish">What's Weezzler?</span>
            </div>
        </div>
        <div class="homeAboutDescription homeAboutDescriptionFirst">
            <div>
                <span data-ng-show="spanish">Weezzler es una aplicación para Android con la que podés fácilmente reproducir la música y videos de tu teléfono en cualquier navegador usando una conexión wifi sin necesidad de configuración extra y te permite usar tu teléfono como control remoto.</span>
                <span data-ng-show="!spanish">Weezzler is an Android app that lets you easily play the music and videos in your phone in any browser over a wifi connection without any extra configuration and allows you to use your phone as a remote control.</span>
            </div>
        </div>
        <div class="homeAboutDescription">
            <div>
                <span data-ng-show="spanish">Con Weezzler podes llevar tu música y videos a cualquier lugar y reproducirlos sin la necesidad de hardware adicional.</span>
                <span data-ng-show="!spanish">With Weezzler you can take your music and videos anywhere and play them without the need of extra hardware.</span>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="featuresRowContainer">
            <div class="featureContainer">
                <div class="featureImgContainer">
                    <img src="/images/no-hardware-icon.png" height="60" alt="No hardware" />
                </div>
                <div class="featureTitleContainer">
                    <span data-ng-show="spanish">No requiere hardware adicional</span>
                    <span data-ng-show="!spanish">No extra hardware required</span>
                </div>
                <div class="featureDescriptionContainer">
                    <span data-ng-show="spanish">Olvidate de los molestos cables y otros dispositivos para establecer la conexión</span>
                    <span data-ng-show="!spanish">Get rid of annoying cords and additional devices for establishing the connection</span>
                </div>
            </div>
            <div class="featureContainer">
                <div class="featureImgContainer">
                    <img src="/images/speakers-icon.png" height="60" alt="Speakers" />
                </div>
                <div class="featureTitleContainer">
                    <span data-ng-show="spanish">Música en altavoces</span>
                    <span data-ng-show="!spanish">Music on speakers</span>
                </div>
                <div class="featureDescriptionContainer">
                    <span data-ng-show="spanish">Convertite en el DJ en cualquier fiesta y disfruta de tu música con la mejor calidad</span>
                    <span data-ng-show="!spanish">Become the DJ at any party and enjoy your music louder and with better quality</span>
                </div>
            </div>
            <div class="featureContainer">
                <div class="featureImgContainer">
                    <img src="/images/big-screen-icon.png" height="60" alt="Big screens" />
                </div>
                <div class="featureTitleContainer">
                    <span data-ng-show="spanish">Videos en pantallas grandes</span>
                    <span data-ng-show="!spanish">Videos on big screens</span>
                </div>
                <div class="featureDescriptionContainer">
                    <span data-ng-show="spanish">Dejá de mirar videos en pantallas miniatura y perderte todos los detalles</span>
                    <span data-ng-show="!spanish">Stop watching videos on a miniature screen and missing all the details</span>
                </div>
            </div>
        </div>
        <div class="featuresRowContainer">
            <div class="featureContainer">
                <div class="featureImgContainer">
                    <img src="/images/remote-control-icon.png" height="60" alt="Remote control" />
                </div>
                <div class="featureTitleContainer">
                    <span data-ng-show="spanish">Control remoto</span>
                    <span data-ng-show="!spanish">Remote control</span>
                </div>
                <div class="featureDescriptionContainer">
                    <span data-ng-show="spanish">No necesitás estar en frente de tu computadora para cambiar cada canción, controlá tu música y videos desde cualquier lugar de tu casa</span>
                    <span data-ng-show="!spanish">Forget about being in front of a computer to change your songs and control your media library from anywhere at home</span>
                </div>
            </div>
            <div class="featureContainer">
                <div class="featureImgContainer">
                    <img src="/images/easy-icon.png" height="60" alt="Easy to use" />
                </div>
                <div class="featureTitleContainer">
                    <span data-ng-show="spanish">Fácil conexión</span>
                    <span data-ng-show="!spanish">Easy connection</span>
                </div>
                <div class="featureDescriptionContainer">
                    <span data-ng-show="spanish">Dos simples pasos y listo. Sin necesidad de configuración adicional o la creación de un usuario</span>
                    <span data-ng-show="!spanish">Two simple steps and you are ready to go. No user or extra configuration needed</span>
                </div>
            </div>
            <div class="featureContainer">
                <div class="featureImgContainer">
                    <img src="/images/free-icon.png" height="60" alt="Free" />
                </div>
                <div class="featureTitleContainer">
                    <span data-ng-show="spanish">Es gratis!</span>
                    <span data-ng-show="!spanish">It’s free!</span>
                </div>
                <div class="featureDescriptionContainer">
                    <span data-ng-show="spanish">No te preocupes por tener que pagar una suscripción, es totalmente gratis</span>
                    <span data-ng-show="!spanish">Don't worry about having to pay a subscription, it's totally free</span>
                </div>
            </div>
        </div>
    </div>

    <div id="video" class="green-section">
        <div class="homeVideoTitleContainer">
            <div class="homeVideoTitle">
                <span data-ng-show="spanish">Mirá a Weezzler en acción</span>
                <span data-ng-show="!spanish">Watch Weezzler in action</span></span>
            </div>
        </div>
        <div class="homeVideoContainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HrDPawa43Tg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="homeFooter">
        <div class="homeFooterLeft">
            <div class="addthis_inline_follow_toolbox follow-buttons-container"></div>
        </div>

        <div class="homeFooterCenter">
            <div class="middleLinkContainer">
                <a href="/privacy" target="_blank">
                    <span data-ng-show="spanish">Privacidad</span>
                    <span data-ng-show="!spanish">Privacy</span>
                    <span class="underline"></span>
                </a>
            </div>
            <div class="middleLinkContainer">
                <a href="/help" target="_blank">
                    <span data-ng-show="spanish">Ayuda</span>
                    <span data-ng-show="!spanish">Help</span>
                    <span class="underline"></span>
                </a>
            </div>
        </div>

        <div class="homeFooterRight">
            <div class="flag britishFlag" data-ng-class="{ spanishFlag: spanish }" data-ng-click="changeLanguage()"></div>
            <a class="language-change" href="" data-ng-click="changeLanguage()">
                <span data-ng-show="spanish">Cambiar Idioma</span>
                <span data-ng-show="!spanish">Change Language</span>
                <span class="underline"></span>
            </a>
        </div>
    </div>
</div>

<script src="/utils/animations.js"></script>