<div data-ng-controller="ExtrasController">

    <div class="flex-container-space-between header-container">

        <div class="small-logo-container flex-container">
            <div class="left-small-logo"></div>
            <div class="left-small-name">
                Weezzler
            </div>
        </div>
    </div>

    <div class="horizontal-top-banner-ad-container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- privacy-page-top-ad -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-6892550707080459"
             data-ad-slot="9380883774"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="flex-container-space-between selection-header-container">

        <div class="selected-title">
            <span data-ng-show="spanish">Política de Privacidad</span>
            <span data-ng-show="!spanish">Privacy Policy</span>
        </div>

    </div>

    <div class="main-separator"></div>

    <div class="displayFlex">

        <div class="privacy-container">

            <div class="paragraph">
                <span data-ng-show="spanish" class="white-background">Por favor tómese un minuto para leer esta Pólitica de Privacidad y si no está de acuerdo con alguno de los términos en ella, no debe usar este sitio web.</span>
                <span data-ng-show="!spanish" class="white-background">Please take a minute to read this Privacy Policy and if you don't agree with any of the terms on it, you should not use this website.</span>
            </div>

            <div class="help-question">
                <span data-ng-show="spanish" class="white-background">Recopilamos su información personal?</span>
                <span data-ng-show="!spanish" class="white-background">Do we collect any information from you?</span>
            </div>

            <div class="paragraph">
                <span data-ng-show="spanish" class="white-background">No recopilamos, almacenamos ni modificamos su información personal.</span>
                <span data-ng-show="!spanish" class="white-background">We don’t collect, store or modify any of your personal information.</span>
            </div>

            <div class="paragraph">
                <span data-ng-show="spanish" class="white-background">Tampoco la vendemos ni compartimos con fuentes de terceros. </span>
                <span data-ng-show="!spanish" class="white-background">Also with don’t sell or share it with other parties.</span>
            </div>

            <div class="paragraph">
                <span data-ng-show="spanish" class="white-background">Si recopilamos cierta información cuando usted usa este sitio mediante el uso the analíticas web. Esta información incluye pero no está limitada a:</span>
                <span data-ng-show="!spanish" class="white-background">We do collect certain information when you use this website through the use of web analytics. This information includes but is not limited to:</span>

                <ul>
                    <li>
                        <span data-ng-show="spanish" class="white-background">Su dirección IP</span>
                        <span data-ng-show="!spanish" class="white-background">Your IP address.</span>
                    </li>
                    <li>
                        <span data-ng-show="spanish" class="white-background">Su navegador.</span>
                        <span data-ng-show="!spanish" class="white-background">Your browser.</span>
                    </li>
                    <li>
                        <span data-ng-show="spanish" class="white-background">Su sistema operativo.</span>
                        <span data-ng-show="!spanish" class="white-background">Your operating system.</span>
                    </li>
                    <li>
                        <span data-ng-show="spanish" class="white-background">Las páginas que visita dentro de este sitio.</span>
                        <span data-ng-show="!spanish" class="white-background">The pages you visit within this website.</span>
                    </li>
                    <li>
                        <span data-ng-show="spanish" class="white-background">El tipo de dispositivo que usa para acceder este sitio.</span>
                        <span data-ng-show="!spanish" class="white-background">The type of device you use to access this website.</span>
                    </li>
                    <li>
                        <span data-ng-show="spanish" class="white-background">El momento y duración de sus visitas a este sitio.</span>
                        <span data-ng-show="!spanish" class="white-background">The time and duration of your visits to this website.</span>
                    </li>
                </ul>
            </div>

            <div class="help-question">
                Cookies
            </div>

            <div class="paragraph">
                <span data-ng-show="spanish" class="white-background">Una cookie es un pequeño archivo almacenado en su computadora y usado por navegadores web para recordar determinada información sobre sus visitas a un sitio web.</span>
                <span data-ng-show="!spanish" class="white-background">A cookie is a small piece of data stored in your computer used by web browsers to remember certain information about your visits to a website.</span>
            </div>

            <div class="paragraph">
                <span data-ng-show="spanish" class="white-background">Weezzler usa cookies parar guardar sus preferencias en visitas futuras, como recordar el código que usó la última vez que conectó su dispositivo o el idioma que seleccionó.</span>
                <span data-ng-show="!spanish" class="white-background">We use cookies to save your preferences for future visits, as remembering the code you used the last time you connected your device or the language you selected.</span>
            </div>
        </div>
    </div>

    <div class="flex-container-space-between footer-elements-container">

        <div class="flex-container">

            <div class="addthis_inline_follow_toolbox follow-buttons-container"></div>

            <div class="info-links-container">

                <a class="animated-link info-link" href="/about">
                    <span data-ng-show="spanish" class="white-background">Acerca de</span>
                    <span data-ng-show="!spanish" class="white-background">About</span>
                    <span class="underline"></span>
                </a>
                <a class="animated-link info-link" href="/help">
                    <span data-ng-show="spanish" class="white-background">Ayuda</span>
                    <span data-ng-show="!spanish" class="white-background">Help</span>
                    <span class="underline"></span>
                </a>
                <a class="animated-link info-link" href="/privacy">
                    <span data-ng-show="spanish" class="white-background">Privacidad</span>
                    <span data-ng-show="!spanish" class="white-background">Privacy</span>
                    <span class="underline"></span>
                </a>

            </div>
        </div>

        <div class="flex-container">
            <div class="flag britishFlag" data-ng-class="{ spanishFlag: spanish }" data-ng-click="changeLanguage()"></div>
            <a class="animated-link language-change" href="" data-ng-click="changeLanguage()">
                <span data-ng-show="spanish">Cambiar Idioma</span>
                <span data-ng-show="!spanish">Change Language</span>
                <span class="underline"></span>
            </a>
        </div>

    </div>

</div>